header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  padding: 30px 100px;
}

header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;

  display: inline-block;
  padding: 15px 10px;
  position: relative;
}

header .icon {
  color: white;
  cursor: pointer;
}

/* header nav ul li a:after {
  content: "";
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 3px;
  bottom: 10px;
  left: 0;
  background-color: white;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.3s;
} */

.add:after {
  content: "";
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 3px;
  bottom: 10px;
  left: 0;
  background-color: lightgrey;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.none:after {
  content: "";
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 3px;
  bottom: 10px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

header nav ul li a:hover::after {
  transform: scaleX(1) !important;
}

header nav ul li a:hover {
  color: #999;
}

.icn:hover {
  color: #999;
}

header.sticky {
  padding: 10px 100px;
  background: white;
}

header.sticky .icon,
header.sticky ul li a {
  color: black;
}

.menu-wrapper-aditional::-webkit-scrollbar-track {
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 50px;
}

@media (min-width: 1000px) {
  header nav ul li a {
    padding: 15px 12px;
  }
}
@media (max-width: 1000px) {
  header nav ul li a {
    padding: 15px 12px;
  }

  .add:after {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    bottom: -5px;
  }
}

@media (min-width: 1100px) {
  header nav ul li a {
    padding: 15px 15px;
  }
}
