header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  padding: 30px 100px;
}

header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700px;
  transition: 0.3s;
}

header .icon {
  color: white;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #999;
}

header.sticky {
  padding: 10px 100px;
  background: white;
}

header.sticky .icon,
header.sticky ul li a {
  color: black;
}

.menu-wrapper-aditional::-webkit-scrollbar-track {
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 50px;
}
