header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  padding: 37px 100px;
}

header.sticky {
  padding: 7px 100px;
  background: white;
}

header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700px;
  transition: 0.7s;
}

header .icon {
  color: white;
  cursor: pointer;
  padding-left: 15px;
}

header nav ul li a:hover {
  color: #999;
}

header.sticky .icon,
header.sticky ul li a {
  color: black;
}

.menu-wrapper-aditional::-webkit-scrollbar-track {
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 50px;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}
